<html>
    <head>
        <title>Pitti's blog</title>
    </head>
    <body>
        <div>
          <h1><a href="">Django materials blog</a></h1>
        </div>

        <div>
          <p>published: 04.06.2018, 13:34</p>
          <h2><a href="">My first post</a></h2>
          <a>You can't stop the waves, but you can learn to surf.You can't stop the waves, but you can learn to surf.You can't stop the waves, but you can learn to surf.You can't stop the waves, but you can learn to surf.You can't stop the waves, but you can learn to surf.</a>
        </div>
        <div>
          <p>published: 05.06.2017, 13:34</p>
          <h2><a href="">My first post</a></h2>
          <a>Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.</a>
        </div>
    </body>
</html>
