<html>
    <head>
        <title>Pitti's blog</title>
    </head>
    <body>
        <div>
          <h1><a href="">Django materials blog</a></h1>
        </div>

        {% for post in posts %}
          <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <a>{{ post.text|linebreaksbr }}</a>
          </div>
        {% endfor %}

        <div>
          <p>published: 05.06.2017, 13:34</p>
          <h2><a href="">My first post</a></h2>
          <a>Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.Surfing USA.</a>
        </div>
    </body>
</html>
